.input-group {
  max-width: 80%;
  margin: 0.5rem auto;
  padding: 0.5rem;
  background-color: #00ffff4d;
  border-radius: 10px;

  input.check:checked + .text {
    text-decoration: line-through;
    color: #999;
  }

  .check {
    margin-right: 0.5rem;
  }

  .text {
    border-radius: 10px;
    overflow: hidden;
    resize: none;
    box-sizing: border-box;
    padding: 5px;
    transition: background-color 0.3s ease;
  }
}

button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: red;
  fontsize: 16px;
  cursor: pointer;
  padding: 10px 20px;
  cursor: pointer;
}
